.button-primary{
    transition: .2s ease;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-primary);
    border: var(--border) solid var(--c-dark-purple);
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    border: 5px solid var(--color-primary);
    box-shadow: -5px 5px 0px 0px var(--color-primary);
    cursor: pointer;
}

.button-primary:hover{
    transform: translateX(-5px) translateY(5px);
    box-shadow: none;
    color: var(--color-primary);
}

.abs-end{
    position: absolute;
    bottom: 5vh;
}

button:disabled{
    transition: .2s ease;
    filter: opacity(50%);
    border-color: var(--color-shadow);
    color: var(--color-shadow);
}

button:disabled:hover{
    box-shadow: -5px 5px 0px 0px var(--color-primary);
    transform: unset;
    color: var(--color-shadow);
}