.button-primary, .button-secondary, .button-third {
    transition: .2s ease;
    font-size: 1.5rem;
    background-color: var(--color-background);
    color: var(--color-primary);
    border: var(--border) solid var(--c-dark-purple);
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    border: 5px solid var(--color-primary);
    box-shadow: -5px 5px 0px 0px var(--color-primary);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-primary:hover, .button-secondary:hover{
    transform: translateX(-5px) translateY(5px);
    box-shadow: none;
    color: var(--color-primary);
}

.button-secondary, .button-third{
    width: 100%;
    padding: 0 .5rem;
    font-size: 1.2rem;
}

.button-third{
    background-color: var(--color-main);
    color: var(--color-background);
    padding: 5px;
    border: none;
}

.button-secondary span{
    width: 100%;
}

.abs-end{
    position: absolute;
    bottom: 5vh;
}

.simple{
    box-shadow: none;
}

.no-border{
    border: unset;
}

.button-third:disabled{
    background-color: var(--color-shadow);
    color: var(--color-background);
}

button:disabled{
    transition: .2s ease;
    border-color: var(--color-shadow);
    color: var(--color-shadow);
}

button:disabled:hover{
    box-shadow: -5px 5px 0px 0px var(--color-primary);
    transform: unset;
    color: var(--color-shadow);
}