.profile{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile__frame{
    top: 5%;
    position: absolute;
    width: 45%; 
}

.profile__options{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 70%;
    height: 80dvh;
}

@media (orientation: landscape){
    .profile__frame{
        width: 20%;
    }
}