.profile{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile__frame{
    top: 5%;
    position: absolute;
    width: 45%; 
}

.profile__options{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5vh;
    width: 70%;
    height: 80dvh;
}

.profile__options--game{
    position: relative;
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
    flex-direction: row;
    gap: 5vw;
    height: 8dvh;
}

.profile__content{
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    padding: 0 5vw;
    width: 100%;
    gap: 2vh;
}

@media (orientation: landscape){
    .profile__frame{
        width: 20%;
    }
}