.stats{
    position: relative;
    height: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .3s ease-in-out;
}

.open{
    height: 50vh;
}

.icon{
    transition: .3s ease-in-out;
    color: var(--color-background);
    stroke-width: 5px;
}

.stats__arrow{
    position: absolute;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    background-color: var(--color-shadow);
    border-radius: 10px;
    width: 100%;
    z-index: 100;
}

.down{
    transition: .3s ease-in-out;
    margin-top: calc(50vh - 30px);
}

.rotate-180{
    transform: rotate(180deg) ;

}

.stats__info{
    margin-top: 0px;
    display: flex;
    width: 100%;
    justify-content: center;
    .title{
        text-align: center;
    }
}

.stats__score{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stats__content{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    h6{
        text-align: center;
    }
}
.stats__you-and-me{
    display: flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    width: 100%;
    gap: 10rem;
    padding: 0 10px;

    .me::before{
        position: absolute;
        content: '';
        color: var(--color-me);
        width: 18px;
        height: 18px;
        right: -2rem;
        top: .2rem;
        background-color: var(--color-me);
        border-radius: var(--border-radius);
        
    }
    .you::after{
        position: absolute;
        content: '';
        color: var(--color-you);
        width: 18px;
        height: 18px;
        left: -2rem;
        top: .2rem;
        background-color: var(--color-you);
        border-radius: var(--border-radius);

    }
}

.lines{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
    overflow-y: scroll;
    height: 20vh;
}

.lines::-webkit-scrollbar {
    width: 5px;
    border-radius: 5px;
    background: transparent;
}

.lines::-webkit-scrollbar-thumb {
    background: var(--color-shadow);
    border-radius: 5px;
}

.line{
    color: var(--color-shadow);
}

.selected-both{
    color: var(--color-background);
    border-radius: var(--border-radius);
    background-image: linear-gradient( to right, var(--color-me), var(--color-you));
}

.selected-me{
    color: var(--color-background);
    border-radius: var(--border-radius);
    background-image: linear-gradient( to right, var(--color-me), transparent);
}

.selected-you{
    color: var(--color-background);
    border-radius: var(--border-radius);
    background-image: linear-gradient( to right, transparent, var(--color-you));
}