.pairings {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2vh;
}

.pairings__list {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    height: 45dvh;
    outline: 5px solid var(--color-primary);
    border-radius: var(--border-radius);
    padding: 10px;
    width: 100%;
    overflow-y: scroll;
}

.pairings__item {
    display: flex;
    width: 100%;
    max-height: 17vh;
}

.pairing {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 5vw;
    height: 14vh;
}

.pairing__frames {
    position: relative;
    height: min-content;
    z-index: 100;
}

.pairing__frame,
.pairing__frame--hide {
    transition: .2s ease-out;
    width: 12vh;
    height: 15vh;
    z-index: 10;
}

.pairing__frame--hide {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 0;
}

.pairing__frame--hide .frame{
    background-color: var(--color-shadow);
}
.pairing__frames:hover .pairing__frame--hide {
    transform: translateX(25%) rotate(5deg);
}

.pairing__frames:hover .pairing__frame {
    transform: translateX(-25%) rotate(-5deg);
}

.song__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: var(--border-radius);
    padding: 10px;
    height: 105%;
    width: 100%;
    max-width: 250px;
    color: var(--color-background);
}

.song__title{
    font-size: 1.2rem;
    text-overflow: ellipsis;
    width: 100%;
    height: 2rem;
    position: relative;

}

.song__info-with-mask {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
  }
  
  .song__info-with-mask::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #00000099, transparent 60%);
    z-index: 1;
  }

.song__info p {
    position: relative;
    font-family: 'RobotoCOnd';
    font-weight: 800;
    font-size: 1rem;
    z-index: 2;
}

.song__code svg{
    height: 15px;
    transform: scale(2);
    margin-left: 10px;
}