.frame {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    aspect-ratio: 5 / 6;
    width: 100%;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    z-index: 2;
}

.frame__image{
    transition: .4s ease;
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.frame__text{
    text-overflow: clip;
    overflow: hidden;
    width: 100%;
    height: 1.2em;
    white-space: nowrap;
    position: relative;
    top: 5%;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--color-primary);
    text-align: center;
}