.frame {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center;
    background-color: var(--color-background);
    padding: 10%;
    border-radius: 10% !important;
    overflow: hidden;
}
