.alert {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    width: max-content;
    height: auto;
    white-space: pre-line;
    text-align: center;
    color: white;
    opacity: 1;
    animation: appearance 0.2s ease-out;
    transition: opacity 0.5s ease-out, transform 0.3s ease-out;
    z-index: 1000;
}

.alert-success {
    background-color: var(--color-main);
}

.alert-error {
    background-color: var(--color-cancel2)
}

.alert-info {
    background-color: var(--color-main)
}

.fade-out {
    opacity: 0;
    transform: translateX(-50%) translateY(10px);
}

@keyframes appearance {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    30% {
        opacity: 1;
        transform: translateX(-50%) translateY(-10px) scale(1.3);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(0) scale(1);
    }
}