.welcome-page{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form h1{
    font-family: 'PoppinsBold';
    font-size: 3rem;
    font-weight: 700;
    color: var(--color-main);
}

.form{
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    input{
        width: calc(25vw + 5rem);
        border: none;
        text-align: center;
        font-size: 1.5rem;
        border-bottom: 3px solid var(--color-primary);
        cursor: text;
    }

    input:focus{
        outline: none;
    }
}

.swiper-container{
    width: 70vw;
    height: 70vw;
}


.swiper-slide{
    border-radius: 10%;
    box-sizing: border-box ;
}

@media (orientation: landscape){
    .swiper-container{
        width: 20vw;
        height: 20vw;
    }
}