:root {
    --color-background: #F5F5F5;
    --color-primary: #24003A;
    --color-cancel2: #FFA400;
    --color-accept: #00FA71;
    --color-shadow: #CCCCCC;
    --color-cancel: #CCCCCC;
    --color-main: #9D00FF;
    --color-me: #4A00FF;
    --color-you: #F100FF;
    --border-radius: 10px;
    --border: 5px;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: RobotoCond;
    src: url('./assets/fonts/RobotoCondensed.ttf');
}

* {
    font-family: 'PoppinsBold';
	box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4{
	text-wrap: balance;
}

p{
	text-wrap: pretty;
}

.input{
    background-color: transparent;
    text-transform: capitalize;
    width: calc(25vw + 5rem);
    border: none;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 5px solid var(--color-shadow);
    cursor: text;
}

.input::placeholder {
    color: var(--color-shadow);
}

.input:focus{
    outline: none;
}

.vanish{
    opacity: 1;
    /* animation: vanish .4s ease-out; */
}


@keyframes vanish{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(1.3);
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}


/* .game{
    animation: gameEffect .4s ease forwards;
}

@keyframes gameEffect {
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1.2);
    }
} */