:root {
    --color-background: #F5F5F5;
    --color-primary: #24003A;
    --color-cancel: #FF9D00;
    --color-accept: #00FF9D;
    --color-shadow: #808080;
    --color-main: #9D00FF;
    --border-radius: 10px;
    --border: 2px;
}

@font-face {
    font-family: Poppins;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: PoppinsBold;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

* {
	box-sizing: border-box;
	position: relative;
	min-width: 0;
    padding: 0;
    margin: 0;
    font-family: 'PoppinsBold';
}

body{
	min-height: 100dvh;
}

h1, h2, h3, h4{
	text-wrap: balance;
}

p{
	text-wrap: pretty;
}