.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-container {
    background: white;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.popup-container input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.popup-actions {
    display: flex;
    gap: 10px;
}

.popup-actions button {
    padding: 8px 15px;
    width: 50%;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-size: 14px;
}

.cancel {
    background: var(--color-cancel2);
    color: white;
}

.accept {
    background: var(--color-accept);
    color: white;
}
